@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.story-null-1 {
  width: 350px;
  max-width: 500px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  margin: 0px 30px;
  border-radius: 20px;
}

.story-null-2 {
  width: 300px;
  max-width: 500px;
  height: 450px;
  object-fit: cover;
  object-position: center;
  margin: 0px 30px;
  border-radius: 20px;
}

.story-null-1 img,
.story-null-2 img,
.story-focus img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.story-null-1 video,
.story-null-2 video,
.story-focus video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background-color: gray;
  border-radius: 20px;
}

.story-focus video,
.story-focus img {
  margin-top: -5px;
  border-radius: 20px;
}

.story-focus {
  width: 550px;
  height: 740px;
  position: relative;
  background-color: gray;
  border-radius: 20px;
}

.story-counter {
  display: flex;
  position: relative;
  top: 20px;
}

.story-counter .timer {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: white;
  margin: 0 10px;
}

.story-counter .timer-viewed {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: red;
  margin: 0 10px;
}

.story-counter .timer-active {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: black;
  margin: 0 10px;
  display: flex;
}

.story-line {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button-forward,
.button-previous {
  position: absolute;
}

.button-forward {
  right: 0;
}

.button-previous {
  left: 0;
}